@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.containerr {
  background: #222323;

  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../hero_image.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

ul li {
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

ul li a:hover {
  color: #a640ff;
}

/* Start Content Section */
.java {
  height: 310px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 85vh;
  margin: auto;
}

.content .text {
  color: white;
  width: 50%;
}

.content .text h1 {
  font-size: 25px;
  text-transform: uppercase;
}
.content .text p {
  font-size: 16px;
  margin: 10px 0;
}

.content .image {
  width: 50%;
}

.content .image img {
  width: 900px;
  position: relative;
  right: 100px;
  top: 10px;
}

/* End Content Section */

/* Start Projects Section */

.projects {
  width: 80%;
  height: fit-content;
  margin: auto;
  background-image: url(../project_image.webp) !important;

  color: white;
  margin-top: 5rem;
}
.projects .text {
  margin: 20px 0;
}

.projects div img {
  width: 400px;
  border-radius: 8px;
}

.pro_info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
  justify-content: space-between;
  gap: 30px;
}

.cardd .info {
  display: flex;
  justify-content: space-between;
}

.cardd .info p {
  color: #808080;
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}

.cardd .info h5 {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}
/* photo animation */
.cardd a img:hover {
  border: 0.5px solid #ffffff;
  box-shadow: 0 0 15px #a640ff;
  transition: 0.5s;
}

/* Start Projects Section */

.skills {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  position: relative;
  top: 40px;
}

.skills h1 {
  color: white;
}

.skills .card-group {
  display: flex;
  gap: 20px;
}

.skills .card-group .card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills .card-group .card:hover {
  border: 2px solid #a640ff;
  box-shadow: 0 0 20px #a640ff;
}

/* Start Contact Page */

.contact {
  display: flex;
  width: 80%;
  margin: 100px auto;
  justify-content: space-between;
}

.contact .text {
  color: white;
}

.contact .text span {
  width: 40%;
  height: 20px;
  font-size: 10px;
  padding: 2px 10px;
  background-color: #a640ff;
  border-radius: 32px;
}

.contact .btns {
  margin-top: 10px;
  padding: 20px 0;
}
/* End Contact Page */

/* Start Icons Section */
.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;

  /* grid-template-columns: repeat(auto-fit, minmax(270px, auto)); */
  width: 80%;
  margin: auto;
  grid-template-areas:
    "icons icons form form "
    "icons icons form form";
}

.icons.section {
  display: grid;
  justify-content: space-around;
  grid-area: icons;
}
.icons .icon-info {
  margin-bottom: 50px;
  padding: 10px;
}

.icons .icon-info h3,
p {
  color: white;
  width: 60%;
}

.icon-info .imgs img {
  margin-right: 5px;
}

.icons .form {
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  border-radius: 6px;
  grid-area: form;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 8px;
  width: 40%;
  /* White */
  margin-bottom: 20px;

  background: #ffffff;
  /* Gray/200 */

  border: 1px solid #d5dae1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.icons .form input {
  padding: 10px 14px;

  width: 350px;

  /* White */

  background: #ffffff;
  /* Gray/200 */

  border: 1px solid #d5dae1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.icons .form > input:nth-child(2) {
  padding: 10px 14px;

  width: 350px;
  height: 200px;
  /* White */

  background: #ffffff;
  /* Gray/200 */

  border: 1px solid #d5dae1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.form button {
  width: 12rem;
  display: flex;
  justify-content: center;
}

.footer {
}
/* buttons */
button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.4em 2em;
  outline: none;
  border: none;
  background-color: #a640ff;
  overflow: hidden;
  border-radius: 32px !important;
  transition: color 0.4s ease-in-out;
  box-shadow: 0 0 20px #a640ff;
  margin-top: 0.4rem;
  margin-top: 8px !important;
}

button::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #ffffff;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #161616;
}

button:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

/* media query */

h5 {
  font-size: 17px !important;
  width: 300px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
  width: 80%;
  margin: auto;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 0px;
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu li a:hover {
  color: #a640ff;
}

@media only screen and (max-width: 500px) {
  .java {
    height: auto;
  }
  .conent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cardd .info {
    display: grid;
  }
  .content .image {
    width: 200px;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }

  .icons {
    display: flex;
    flex-direction: column;
  }

  .icons .form {
    width: 300px;
  }
  .icons .form > input:nth-child(2) {
    padding: 10px 14px;
    width: 250px;
    height: 200px;
    background: #ffffff;
    border: 1px solid #d5dae1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .icons .form input {
    padding: 10px 14px;
    width: 250px;
    background: #ffffff;
    border: 1px solid #d5dae1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .projects {
    width: 80%;
    margin: auto;
    /* background-image: url(../footer_image.webp) !important; */

    color: white;
    margin-top: 2rem;
  }

  .projects div img {
    width: 300px;
    border-radius: 8px;
  }

  .icons .icon-info h3,
  p {
    color: white;
    width: 300px;
  }

  .content .text p {
    font-size: 10px;
    margin: 10px 0;
  }

  .content .text h1 {
    font-size: 20px;
    text-transform: uppercase;
  }

  h5 {
    margin-top: 4px;
    font-size: 20px !important;
    padding: 0 10p;
    width: 257px;
  }
  .cardd .info p {
    color: #808080;
    /* width: 124px;
    color: #808080; */
    /* width: 124px; */
    display: flex;
    justify-content: flex-start;
    width: fit-content;
  }
}

@media screen and (min-width: 501px) and (max-width: 821px) {
  .java {
    height: auto;
  }
  .section {
    display: flex;
    margin: auto;
  }
  .section2 {
    display: flex;
    margin: auto;
  }
  .projects {
    width: 90%;
  }
  h5 {
    font-size: 0.8rem;
  }
  .icons .icon-info h3,
  p {
    color: white;
    width: 300px;
  }

  .content .text p {
    font-size: 14px;
    margin: 10px 0;
  }

  .content .text h1 {
    font-size: 23px;
    text-transform: uppercase;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
  }

  .icons .form {
    width: 444px;
  }
  .icons .form > input:nth-child(2) {
    padding: 10px 14px;
    width: 405px;
    height: 200px;
    background: #ffffff;
    border: 1px solid #d5dae1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .icons .form input {
    padding: 10px 14px;
    width: 405px;
    background: #ffffff;
    border: 1px solid #d5dae1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }

  .pro_info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    justify-content: space-between;
    gap: 30px;
  }

  .projects div img {
    width: 350px;
    border-radius: 8px;
  }
}

/*  */
@media screen and (max-width: 790px) {
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 30px;
    /* width: 39%; */
    background-color: #333;
    padding: 5px;
    text-align: center;
    z-index: 5;
  }
  /*  */
  .menu li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
  }

  #menu-toggle:checked ~ .menu {
    display: block;
  }
}

@media screen and (min-width: 789px) and (max-width: 900) {
  .icons .icon-info h3,
  p {
    color: white;
    width: 300px;
  }

  .content .text h1 {
    font-size: 23px;
    text-transform: uppercase;
  }
  .content .text {
    color: white;
    width: 50%;
    z-index: 99;
  }

  .content .text p {
    font-size: 18px;
    margin: 10px 0;
    width: 542px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons .form {
    width: 444px;
  }

  .icons .form {
    background-color: #ffffff;
    width: 300px;
    height: 400px;
    border-radius: 6px;
    grid-area: form;
  }

  .icons .form > input:nth-child(2) {
    padding: 10px 14px;
    width: 405px;
    height: 200px;
    background: #ffffff;
    border: 1px solid #d5dae1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  .icons .form input {
    padding: 10px 14px;
    width: 405px;
    background: #ffffff;
    border: 1px solid #d5dae1;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
}
.card-text:last-child {
  margin-bottom: 0;
  width: 101%;
}

.projects .text {
  display: flex;
  justify-content: space-between;
}

.projects .text a {
  text-decoration: none;
  color: white;
}
.projects .text h6 a:hover {
  color: #a640ff;
}
/* @media screen and (min-width: 900px)  {
} */

/* ######################################3 */
